{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set images = field.formattedValue %}

{% set html_id = 'ea-lightbox-' ~ field.uniqueId %}

{% set mimeType = entity.instance.getMimeType()|split('/') %}

{% if mimeType[0] == 'image' %}
    <a href="#{{ html_id }}" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
        <img src="{{ vich_uploader_asset(entity.instance, 'imageFile100w') }}" class="img-fluid" />
    </a>

    <div id="{{ html_id }}" class="ea-lightbox">
        <img src="{{ vich_uploader_asset(entity.instance, 'originalFile') }}" />
    </div>
{% else %}
    <a href="#{{ html_id }}" class="ea-lightbox-thumbnail" data-ea-lightbox-content-selector="#{{ html_id }}">
        <img src="{{ asset('build/website/images/file-1453.png') }}" class="img-fluid" />
    </a>
{% endif %}
